<% bookCoverClass = locals.large ? 'book-cover-large' : 'book-cover' %>
<% bookGridClass = locals.large ? 'book-grid-large' : '' %>

<div class="book-grid <%= bookGridClass %>">
    <% books.forEach(book => { %>
        <% bookBorder = locals.peopleCheck && book.person.length > 1 ? 'book-cover-border' : ''%>
        <a href="/books/<%= book.id %>">
            <img class="<%= bookCoverClass %> <%= bookBorder %>" src="<%= book.coverImagePath %>">
            <label><%= book.title %></label>
        </a>
    <% }) %>
</div>